<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="home-intro">
    <h2>Book your rides at the lowest prices!</h2>
    <p>
      Our app simplifies the ride booking process, making it easy to find and reserve a ride in just a few taps. 
      Focused on affordability, we ensure you always get the best deals on rides without any hassle. 
      Save time and money by using our app to book rides at the lowest possible prices.
    </p>
    <p>
      Our ride booking app offers a seamless and user-friendly interface, allowing travelers to book rides with just a few taps.
      With real-time ride status updates and a comprehensive search feature, users can easily compare prices and find the best deals.
      The app integrates with multiple transportation providers, offering a wide range of ride options and ensuring secure payment processing for a smooth booking experience.
      Additionally, our app features a user dashboard where you can track your bookings, customize settings, and access ride details conveniently.
    </p>
    <p>
      If you have any questions or need assistance, feel free to contact our support team.
    </p>
  </div>

</ion-content>
