<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="home-intro">
    <h2>Book your rides at the lowest prices!</h2>
    <p>
      Our app simplifies the ride booking process, making it easy to find and reserve tickets in just a few steps. 
      With a focus on affordability, we ensure you get the best deals on rides without the hassle. 
      Save time and money by using our app to book your rides at the lowest possible prices.
    </p>
    <p>
      Our flight reservation app offers a seamless and user-friendly interface, allowing travelers to book flights with just a few taps.
      With real-time flight status updates and a comprehensive search feature, users can easily compare prices and find the best deals for their journeys.
      The app integrates with multiple airlines to provide a wide range of flight options and ensures secure payment processing for a smooth booking experience.
      Our app also features a user-friendly dashboard where travelers can manage their bookings, check-in online, and access boarding passes conveniently.
    </p>
    <p>
      If you have any questions or need assistance, feel free to contact our support team.
    </p>
  </div>

</ion-content>
